[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

sphinx = "*"
tox = "*"
pytest = "*"
pytest-cov = "*"
"50721fc" = {path = "/Users/chairco/OneDrive/SourceCode/python/pyRscript/pyRscript"}


[dev-packages]



[requires]

python_version = "3.6"